
<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-7">
      <h1><strong>"ちゅんちゅん”について</strong></h1>
     　 <br>
      　<br>
     <div class="row justify-content-center">
      <p>このアプリケーションは、文鳥を愛してやまない文鳥ファンが </p>
      <p>文鳥の画像を投稿したり見たりして交流をはかるサイトです。</p>
      <p> かわいい文鳥をたくさん見て、明日からの活力にしましょう！</p>
     </div>
     </div>
        <br>
        <br>
        <br>
        <br>
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-7">
        <h4><strong>このアプリケーションの特徴</strong></h4>
        <br>
        <p>多くのSNSと同じように、「いいね」「コメント」「フォロー」機能があります。</p>
     <br>
        <p>それらに加えて、<strong>「かわいいね」</strong>機能をご用意いたしました！</p>
     <br>
        <p>「かわいいね」は何回押しても数が増え続けます。</p>
     <br>
        <strong>文鳥への「かわいいね」が減るはずがありませんから☆</strong>
     <br>
        <p>心ゆくまで「かわいいね」を押してください！</p>
     
      
      
    </div>
  </div>
</div>