<div class="container mt-5">
    <div class="row">
      <div class="mx-auto col-1 col-sm-2 col-lg-4 col-xl-6">
        <br></br>
        <div class="top2 mr-4 text-center">
          <%= image_tag("logo.jpg", size:"500x300") %>
        </div>
      </div>
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <br></br>
        <h2>ようこそ<i class="fas fa-dove"></i><strong>ちゅんちゅん</strong> <i class="fas fa-dove"></i>へ！</h2>
        <br></br>
         <p>文鳥を愛でるアプリケーション<i class="fas fa-dove"></i></i><strong>"ちゅんちゅん"</strong> <i class="fas fa-dove"></i>は、 </p>
         <p>文鳥を愛してやまない文鳥ファンで作る</p>
         <p> 文鳥画像交流サイトです!</p>
        <br></br>
        <div class="btn-wrapper col-10 mx-auto">
          <div>
            <%= link_to "ログイン", new_user_session_path, class: "btn moe-btn btn-sm btn-block mb-3 sign_in"%>
          </div>
          <div>
            <%= link_to "新規登録", new_user_registration_path, class: "btn moe-btn btn-sm btn-block sign_up"%>
          </div>
        </div>
      </div>
    </div>
  </div>