<h1>Post Detail</h1>
<div class="container px-5 px-sm-0">
    <div class="row">
    
      <div class="col-md-6">
       <%= attachment_image_tag @post, :post_image, size: "300x200", format: 'jpeg' %>
      </div>
      
      <div class="col-md-6 offset-md-1">
           <h2>Column</h2><thead>
            <br>
           <%= @post.post_detail %>
            <br>
            
       
       

       </tbody>
      </table>
    </div>
  </div>
</div>



