<div class="page-header">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
 <div class="container px-5 px-sm-0">
  <div class="row">
  <h1>お問い合わせ</h1>
</div>
<p>
  お問い合わせいただきありがとうございました。
</p>