/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "posts";

//  footer {
//  position: absolute;
//  bottom: 0;
//  background-color: #343a40;
//  color: #ffffff;
//  width: 100%;
//  height: 60px;
//  text-align: center;
// }

.moe-btn {
  background-color: #FFAB91;
  color: #E91E63;
  border-radius: 10px;
}

.nae-btn {
  background-color: #64B5F6;
  color: #CDDC39;
  border-radius: 10px;
}

.all_background {
  background-color: #FFEEFF;
  min-height: 100vh;
}

.footer_menu {
  display: flex;
  justify-content: flex-end;
  
  ul {

    li {
      background-color: hotpink;
      padding: 0;
      
      span {
        margin-right: -5px;
      }
    }
  }
}

.main-color {

    background-color: #FFEEFF;
    margin-padding: 30px; /* 下側の外側の余白 */
    // min-height:700px;
}

header{
  background-color:hotpink;
}

footer{
  background-color:hotpink;
}


/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

// img{
//   background-size: contain;
//   object-fit: cover;
// }

.post-index-image {
  height:180px;
  width:250px;
  object-fit: contain;
}

.post-index-image {
  height:180px;
  width:250px;
  object-fit: contain;
}

.user-show-image {
  height:180px;
  width:250px;
  object-fit: contain;
}

.post-show-image {
  height:450px;
  width:550px;
  object-fit: contain;
}

.user-index-image {
  height:120px;
  width:120px;
  object-fit: contain;
}

.user-post-index-image {
  height:50px;
  width:50px;
  object-fit: contain;
}



// .circle {
//     width: 120px;
//     height: 120px;
//     border-radius: 50%;
//   }