<footer class="text-white fixed-bottom" style="background-color: #343a40">
  <!-- Grid container -->
  <div align="right">
  
   <li><%= link_to 'お問い合わせ',inquiry_path ,class: 'fab fa-weixin nav-link text-light'%></li>
  </div>
  <div class="text-center container">
  <h6>文鳥を愛でるアプリケーション♡ちゅんちゅん♡</h6>
  </div>
  <!-- Copyright -->
</footer>
 