<footer class="text-white fixed-bottom">
  <!-- Grid container -->
  <div class="footer_menu">
    <ul class="list-group list-group-horizontal ">
    <% if user_signed_in? %>
      <li class="list-group-item"><%= link_to '巣箱',user_path(current_user),class: 'fas fa-home nav-link text-light' %></li>
      <li class="list-group-item"><%= link_to '用語について',home_about_path,class: 'fas fa-feather-alt nav-link text-light' %></li>
      <li class="list-group-item">
        <%= link_to inquiry_path ,class: 'fas nav-link text-light' do %>
          <span class="fab fa-weixin"></span>
          お問い合わせ
        <% end %>
      </li>
      
      <% end %>
    </ul>
  </div>
  <div class="text-center container">
  <h6>文鳥を愛でるアプリケーション♡ちゅんちゅん♡</h6>
  </div>
  <!-- Copyright -->
</footer>
 